{% extends 'base.html.twig' %}

{% block title %}Cinema tikets{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="example-wrapper">
        <h1>Welcome to the cinema club! 📣</h1>
        <a href="{{ path('app_cinema') }}">Фильмы</a>
    </div>
{% endblock %}