{# @var cinema \App\Entity\Cinema #}
{# @var country \App\Entity\Country #}
{# @var mainSession \App\Entity\Session #}
{# @var session \App\Entity\Session #}

{% extends 'base.html.twig' %}

{% block nav %}
    {% set week = currentWeekCollection() %}
    <nav class="page-nav">
        {% for day in week %}
            <a class="page-nav__day{% if day.today %} page-nav__day_today page-nav__day_chosen{% endif %}" href="#"
               data-date="{{ day.date }}">
                <span class="page-nav__day-week">{{ day.name }}</span><span
                        class="page-nav__day-number">{{ day.date | split('-')[2] }}</span>
            </a>
        {% endfor %}
    </nav>
{% endblock %}

{% block body %}

    <div class="sessions-wrapper">
        {% if films | length > 0 %}
            {% include 'components/session/sessions-list.html.twig' with { sessions: films} %}
        {% else %}
            <div class="sessions-error">
                В этот день сеансов нет...
                <img src="{{ asset('build/images/sad-face.png') }}" alt="sad">
            </div>
        {% endif %}
    </div>

{% endblock %}